// _home.scss

@font-face {
    font-family: 'PixelMplus12 Regular';
    src: url('https://cdn.leafscape.be/PixelMplus/PixelMplus12-Regular_web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1.6;
    font-weight: 700;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

body.background {
    background-image: url("../../assets/images/bg_sp_2.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.jmc-container {
    width: 100vw;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jmc-container--inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header .logo {
    max-width: 100%;
    height: auto;
}

.jmc-main {
    position: center;
}

.inner-background {
    max-width: none; /* Override any inherited max-widths */
    height: calc(100vh - 180px); /* Adjust height to fit the viewport, minus header and footer */
    display: block;
    object-fit: cover; /* Ensures the image scales correctly */
    margin-left: 50%; /* Move the image leftward */
    transform: translateX(-50%); /* Center the image horizontally */
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer img {
    margin: 0 5px;
    width: 30px;
    height: 30px;
}

/* Fixed menu styles without animation */
.jmc-fix-menu {
    position: absolute;
    top: 120px;
    left: 25px;
    z-index: 20;
    font-family: 'PixelMplus12 Regular', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.jmc-fix-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.jmc-fix-menu ul li {
    margin-bottom: 15px;
}

.jmc-fix-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 0;
}