---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>

<body class="background">
    <!-- Main content starts here -->
    <div class="jmc-container">
        <div class="jmc-container--inner">
            {% include home_header.html %}
            <main class="jmc-main">
                {% include home_nav.html %}
                <img src="./assets/images/bg_sp.jpg" alt="Inner Background" class="inner-background">
                {{ page.content }}
                <!-- Additional content can go here -->
            </main>
            
           {% include footer.html %}
        </div>
    </div>
</body>

    
    

</html>
